.message {
  border: 1px solid grey;
  width: 60%;
  margin-bottom: 1em;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
}
.messageHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name,
.dateTime {
  box-sizing: border-box;
  display: inline-flex;
}
